@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}

<div id="about" class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="section-heading wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
                    <h4>About <em>What We Do</em> &amp; Who We Are</h4>
                    <img src="~/Content/assets/images/heading-line-dec.png" alt="" >
                    <p>The Last Inc. aims to provide user-friendly web-based applications that simplifies user experience. User satisfaction is our top priority.</p>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box-item wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                            <h4><a>Ease-of-Use Apps</a></h4>
                            <p>For Everyone</p>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="box-item">
                            <h4><a>24/7 Support &amp; Help</a></h4>
                            <p>By Professionals</p>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="box-item">
                            <h4><a>Start Up Company</a></h4>
                            <p>Supporting Everyone</p>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="box-item">
                            <h4><a>Co. Development</a></h4>
                            <p>With Professionals</p>
                        </div>
                    </div>
                    <div class="col-lg-12 wow fadeIn " data-wow-duration="1s" data-wow-delay="1s">
                        <div class="gradient-button">
                            @Html.ActionLink("Start Managing Tasks Now!", "Login", "Login")
                        </div>
                        <span> *Login Required</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">
                    <img src="~/Content/assets/images/about-right-dec.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<br /><br />
<div id="pricing" class="">
    <div class="container">
        <div class="row justify-content-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="col-lg-4">
                <div class="pricing-item-pro">
                    <span class="price">A+</span>
                    <h1>The <strong style="color:Background;">Developer</strong></h1>
                    <br />
                    <div class="img-responsive">
                        <img src="~/Content/assets/images/Person.jpg" alt="" style="height:10rem; width:fit-content;">
                    </div>
                    <ul>
                        <shadow><h3>Christian Stewart</h3></shadow>
                        <li>christianstewart5111@gmail.com</li>
                    </ul>
                    <div class="border-button">
                        <a href="https://www.facebook.com/stewart.ca.8"><i class="fa fa-location-arrow"></i> Facebook</a>
                        <a href="https://github.com/TheLast22"><i class="fa fa-location-arrow"></i> Github</a>
                        <br /><hr style="color:Background;"/>
                        <a href="https://www.linkedin.com/in/christian-anthony-stewart/"><i class="fa fa-location-arrow"></i> LinkedIn</a>
                        <a href="mailto: christianstewart5111@gmail.com"><i class="fa fa-location-arrow"></i> Email</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
