@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact";
}

<br /><br />
<div id="pricing" class="services">
    <div class="container">
        <div class="row justify-content-center wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
            <script type="text/javascript" src="https://form.jotform.com/jsform/213328011825447"></script>
        </div>
    </div>
</div>

<div id="clients" class="the-clients wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="section-heading">
                    <h4>Check What <em>The Clients Say</em> About Our App Dev</h4>
                    <img src="assets/images/heading-line-dec.png" alt="">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="naccs">
                    <div class="grid">
                        <div class="row">
                            <div class="col-lg-7 align-self-center">
                                <div class="menu">
                                    <div class="first-thumb active">
                                        <div class="thumb">
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <h4>Christian Stewart</h4>
                                                    <span class="date">30 November 2021</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                                    <span class="category">App UI / UX</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span class="rating">4.8</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <h4>Ivana Leonado</h4>
                                                    <span class="date">29 November 2021</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                                    <span class="category">Functionality</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span class="rating">4.5</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <h4>Cherremy Jillian</h4>
                                                    <span class="date">27 November 2021</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                                    <span class="category">Design and Ease-of-Use</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span class="rating">4.7</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <h4>Anonymous</h4>
                                                    <span class="date">24 November 2021</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                                    <span class="category">App Ecosystem</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span class="rating">3.9</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="last-thumb">
                                        <div class="thumb">
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <h4>Christian Deliman</h4>
                                                    <span class="date">21 November 2021</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                                    <span class="category">Web Development</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span class="rating">4.3</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <ul class="nacc">
                                    <li class="active">
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="client-content">
                                                            <img src="~/Content/assets/images/quote.png" alt="">
                                                            <p>
                                                                “The Task Manager is so clean and its very user-friendly. The design is intuitive and its very easy to navigate and soothing to the eyes.”
                                                            </p>
                                                        </div>
                                                        <div class="down-content">
                                                            <img src="~/Content/assets/images/client-bg.png" alt="">
                                                            <div class="right-content">
                                                                <h4>Christian Stewart</h4>
                                                                <span>2nd Year Student of USC BSCS</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="client-content">
                                                            <img src="~/Content/assets/images/quote.png" alt="">
                                                            <p>
                                                                “The creation of the web application has its practical uses. It really brings good functionality and efficiency for people who are busy. It helps them manage their tasks well.”
                                                            </p>
                                                        </div>
                                                        <div class="down-content">
                                                            <img src="~/Content/assets/images/client-bg.png" alt="">
                                                            <div class="right-content">
                                                                <h4>Ivana Leonado</h4>
                                                                <span>2nd Year Student of USC BSCS</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="client-content">
                                                            <img src="~/Content/assets/images/quote.png" alt="">
                                                            <p>
                                                                “As a user of the Task Manager, it has come quite handy for me because I always have a full day's worth of things to do. Having a list of my tasks really helps me a lot.'”
                                                            </p>
                                                        </div>
                                                        <div class="down-content">
                                                            <img src="~/Content/assets/images/client-bg.png" alt="">
                                                            <div class="right-content">
                                                                <h4>Cherremy Jillian</h4>
                                                                <span>2nd Year Student of Velez College BSN.</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="client-content">
                                                            <img src="~/Content/assets/images/quote.png" alt="">
                                                            <p>
                                                                “The Application itself is quite ingenious. This is already a good start to something that has endless potential in development. ”
                                                            </p>
                                                        </div>
                                                        <div class="down-content">
                                                            <img src="~/Content/assets/images/client-bg.png" alt="">
                                                            <div class="right-content">
                                                                <h4>Anonymous</h4>
                                                                <span>Unknown</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="client-content">
                                                            <img src="~/Content/assets/images/quote.png" alt="">
                                                            <p>
                                                                “The website is quite responsive and has numerous functionality added to it. Its an agreement between user and developer goals, where both ends meet.”
                                                            </p>
                                                        </div>
                                                        <div class="down-content">
                                                            <img src="~/Content/assets/images/client-bg.png" alt="">
                                                            <div class="right-content">
                                                                <h4>Christian Deliman</h4>
                                                                <span>2nd Year Student of CNU BSN</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>