
@{
    Layout = "~/Views/Shared/LoginView.cshtml";
    ViewBag.Title = "SignUp";
}

<br />
<div id="pricing" class="services">
    <div class="container">
        <div class="row justify-content-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="col-lg-5">
                <div class="pricing-item-pro">
                    <br />
                    <h1>Sign <strong style="color:Background;">Up</strong></h1>
                    <br />
                    <form action="AddUser_Action" method="post">
                        <table class="table table-responsive table-hover">
                            <tr>
                                <td><label for="First Name">First Name</label></td>
                                <td><input type="text" name="FirstName" required /></td>
                            </tr>
                            <tr>
                                <td><label for="Last Name">Last Name</label></td>
                                <td><input type="text" name="LastName" required /></td>
                            </tr>
                            <tr>
                                <td><label for="Email">Email</label></td>
                                <td><input type="email" name="Email" required /></td>
                            </tr>
                            <tr>
                                <td><label for="Password">Password</label></td>
                                <td><input type="password" name="Password" required /></td>
                            </tr>
                            @*<tr>
                                <td><label for="UserType">User Type</label></td>
                                <td><input type="text" name="UserType" required /></td>
                            </tr>*@
                        </table>
                        <div class="action_btns">
                            <div class="one_half"><div class="gradient-button" style="width: 50%;">@Html.ActionLink("Login", "Login", "Login")</div></div>
                            <div class="one_half last">@Html.AntiForgeryToken()<button type="submit" class="btn btn_red" name="submitBtn">Register <i class="fa fa-angle-double-right"></i></button></div>
                        </div>
                    </form>
                    <br /><br /><br />
                </div>
            </div>
        </div>
    </div>
</div>
